# config/prod.env
# Configuration for the production environment.
# This is not a regular `.env` file, and will be sourced in the `sh` shell
# before the server is started.

NODE_ENV=production
PORT="${PORT:-9277}"
DATABASE_FILE_NAME="${DATABASE_FILE_NAME:-/usr/src/app/build/database.json}"
ISSUER_DOMAIN="${ISSUER_DOMAIN:-localhost%3A9277}"
